:root {
    color-scheme: dark;
    --gold: #d29a38;
    --gray: rgb(187, 187, 187);
    --blue: rgb(105, 166, 213);
    --dark-gray: rgb(24, 26, 27);
}
#viewportWrapper {
    position: relative;
}
#headerWrapper {
    position: relative;
    margin: 1% 2% 0 2%;
    overflow: auto;
    border-bottom: 2px solid var(--gold);
}
#filterWrapper {
    user-select: none;
}
.nameCell {
    font-size: 18px;
    color: var(--gold);
    font-family: times, serif;
    font-variant: small-caps;
    font-weight: 500;
    text-align: right;
}
#classTable {
    display: inline-block;
    vertical-align: top;
}
#specialist-table {
    display: inline-block;
    vertical-align: top;
}
#source-table {
    display: inline-block;
    vertical-align: top;
}
#lvl-table {
    display: inline-block;
    vertical-align: top;
}
#school-table {
    display: inline-block;
    vertical-align: top;
}
#contentWrapper {
    position: relative;
    margin: 1% 2% 1% 2%;
    height: 73vh;
}
#listWrapper {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
#tableWrapper { 
    height: 95%;
}
#infoWrapper {
    display: inline-block;
    max-width: calc(96% - 430px);
    margin-left: 1%;
    height: 100%;
    overflow-y: auto;
}
#name-filter {
    width: 98%;
}
.infoHeader{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.infoData{
    color: var(--gray);
}
#Name {
    color: var(--gold);
    font-size: 1.8em;
    font-family: times, serif;
    font-variant: small-caps;
    font-weight: 500;
    margin-right: 10px;
}
#Source {
    color: var(--blue);
    font-size: 1.8em;
    font-family: times, serif;
    font-variant: small-caps;
    font-weight: 500;
}
.styledButton {
    background-color: var(--dark-gray);
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
}
.styledButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}